<article class="article">
  <div class="article__container">
    <div class="container">

      <ul class="article__list">
      <span class="article__top">Топ теми:</span>
      <li id="articleTagFirst" class="article__item"> <a  class="article__link" href="">
       #справаПорошенка
      </a></li>
     <li class="article__itm"> <a id="articleTagSecond" style="color: #366785;" class="article__link" href="">
        #декларування2020
      </a></li>
       <li class="article__item"><a id="articleTagThird"  class="article__link" href="">
       #справаПорошенка
      </a></li>
       <li class="article__itm"><a id="articleTagFourth" style="color: #366785;" class="article__link" href="">
       #декларування2020
      </a></li>
      </ul>

     <div class="article__content">
        <div class="article__img">
        <img src="../img/Mask.png" alt="">
        </div>
      <div class="article__info">
        <div class="article__date">19 Лютого 2020 року </div>
  <a href="" class="article__title">НАЗК ВИЯВИЛО ПІД ЧАС ПЕРЕВІРКИ 67 ДЕКЛАРАЦІЙ 874,7 МЛН ГРН ПРИХОВАНИХ СТАТКІВ</a>
  <p class="article__description">Перевірки декларацій проводилися з 2017 року, але рішення стосовно них так і не були ухвалені. Про це Голова НАЗК заявив на засіданні парламентського комітету з питань антикорупційної політики.</p>
        
        <a class="read__more" href="#">
        <span class="article__more">Читати далі</span>
        <img src="../img/str.png" alt="">
        </a>
        </div>
      </div>

      
<div class="know__all">
<a class="know__more" href="#">
        <span class="article__news">Більше новин</span>
        <img src="../img/str.png" alt="">
        </a></div>     

    </div>
  </div>
</article>