<discussion class="discussion">
<div class="discussion__container">
<div class="container">

<div class="discussion__article">
<ul class="discussion__list">
  <li class="discussion__item w1-3">
  <span class="discussion__line"></span>
    <a href="#" class="discussion__title">ОБГОВОРЕННЯ</a>
<ul>
<li class="discuss__info">
<p class="discussion__date">6 Червня 2019</p>
<p class="discussion__info">Антикорупційні програми, які надійшли на погодження 
у 2019 році</p>
</li>
<li class="discuss__info">
<p class="discussion__date">10 Травня 2019</p>
<p class="discussion__info">Проект Закону України “Про засади державної антикорупційної політики в Україні (Антикорупційна стратегія) на 2018-2020 роки”</p>
</li>
<li class="discuss__info">
<p class="discussion__date">8 Травня 2019</p>
<p class="discussion__info">Проект Середньострокового плану пріоритетних дій Уряду до 2020 року</p>
</li>
</ul> 

 </li>
 
 <li class="discussion__item w1-3">
 
  <span class="discussion__line"></span>
    <a href="#" class="discussion__title">ЕЛЕКТРОННІ ЗВЕРНЕННЯ</a>
<ul class="appeal__list">
<li class="appeal__item">
<p class="discussion__appeal">Аналітичний звіт про роботу зі зверненнями громадян, що надійшли 
до Національного агентства з питань запобігання корупції за період 
<b>з 01.01.2020 по 31.01.2020</b></p>
</li>
<li class="appeal__item">
<p class="discussion__appeal">Аналітичний звіт про роботу зі зверненнями громадян, що надійшли до Національного агентства з питань запобігання корупції за період 
<b>з 01.12.2019 по 31.12.2019</b></p>
</li>
<li class="appeal__item">

<p class="discussion__appeal">Аналітичний звіт про роботу зі зверненнями громадян, що надійшли до Національного агентства з питань запобігання корупції за період 
<b>з 01.11.2019 по 30.11.2019</b></p>
</li>
</ul> 

 </li>
 
   {# <li class="discussion__item w1-3">
    <a href="#"  class="discussion__title">Роз’яснення щодо заповнення декларацій</a>
    <p class="discussion__info">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.</p>
  </li>
  <li class="discussion__item w1-3">
    <a href="#"  class="discussion__title">Чат-бот «Держслужбовець Тарас»</a>
    <p class="discussion__info">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів</p>
  </li> #}
</ul>


</div>

</div>
</div>

</discussion>