<footer class="footer">
<div class="footer__container">
<div class="container">
{# <button id="rar">kajdlksjlkadjl</button> #}

<p class="footer__map">Мапа порталу <i class="arrow down"></i></p>
<div class="footer__info">
  <div class="footer__adress">
    <p>Україна, м. Київ,  бульвар Дружби Народів, 28, 01103;</p>
    <p> e-mail: info@nazk.gov.ua</p>
  </div>
  <div class="footer__network">
  <span class="social__network">Офіційні сторінки НАЗК:</span>
    <ul class="network__list">
      <li class="network__item">
        <a href="https://www.facebook.com/">
          <img src="../img/brandico_facebook-rect.png" alt="">
        </a>
      </li>
      <li class="network__item">
        <a href="https://www.youtube.com/">
          <img src="../img/ant-design_youtube-filled.png" alt="">
        </a>
      </li>
      <li class="network__item">
        <a href="https://twitter.com/">
          <img src="../img/el_twitter.png" alt="">
        </a>
      </li>
      <li class="network__item">
        <a href="https://web.telegram.org/">
          <img src="../img/cib_telegram-plane.png" alt="">
        </a>
      </li>
    </ul>

    </div>
</div>
<hr class="line">
<div class="ua"> 
  <a href="#">
    <img src="../img/path10.png" alt="">
  </a>
</div>
<div class="footer__authorities">
  <ul class="authorities__list">
    <li class="authorities__item">
      <a href="https://uk.wikipedia.org/wiki/%D0%9F%D1%80%D0%B5%D0%B7%D0%B8%D0%B4%D0%B5%D0%BD%D1%82_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8" class="authorities">Президент України</a>
    </li>
    <li class="authorities__item">
      <a href="https://www.rada.gov.ua/" class="authorities">Верхована Рада України</a>
    </li>
    <li class="authorities__item">
      <a href="https://www.kmu.gov.ua/" class="authorities">Кабінет Міністрів Укаїни</a>
    </li>
  </ul>
  <div class="copywrite">
    Весь контент доступний за ліцензією Creative Commons Attribution 4.0 International license, якщо не зазначено інше
  </div>
</div>
</div>

</div>
</footer>