<info class="info"> 
  <div class="container">
    <div class="info__container">
      <div class="info__content">
      <h1 class="info__title">Будьте Проінформовані</h1>
      <span class="info__subscribe">Отримуйте інформацію про діяльність НАЗК</span>
      <ul class="info__list">
        <li class="info__item">
          <a class="link" href="https://www.facebook.com/">
          <img src="../img/Vector.png" alt="">
          <span class="fb">Стежити у  Facebook</span>
          </a>
        </li>
        <li class="info__item">
           <a class="link" href="https://twitter.com/"> 
          <img src="../img/Vector (1).png" alt="">
          <span class="tw">Стежити у  Twitter</span>
          
        </a>
        </li>
        <li class="info__item">
          <a class="link" href="https://www.youtube.com/">
          <img src="../img/Vector (2).png" alt="">
          <span class="youtube">Підписатися на Youtube канал</span>
        </a>
        </li>
        <li class="info__item">
         <a class="link" href="https://web.telegram.org/">
          <div class="telegr"><img  src="../img/Vector (3).png" alt=""></div>
          <span class="tg">Підписатися на Telegram канал</span>
        </a>
        </li>
      </ul>

      </div>
      <div class="info__image" >
        <img class="info__img" src="../img/image.png" alt="../img/image.png">
      </div>
    </div>
  </div>
</info>
