<div id="navContainer" class="nav__container">

<div class="container">
<nav class="nav">
<div class="nav__section">
 <li class="nav__title">Антикорупційна політика</li>
 <hr class="nav__line">
         <ul> 
                <a class="nav__item" href="#"> <li>Новини</li></a> 
                <a class="nav__item" href="#"><li>Антикорупційна стратегія</li></a>
                <a class="nav__item" href="#"><li>Законодавство</li></a>
                <a class="nav__item" href="#"><li>Міжнародна співпраця</li></a>
                <a class="nav__item" href="#"><li>Антикорупційне навчання</li></a>
                <a class="nav__item" href="#"><li>Антикорупційна експертиза</li></a>
        </ul>
      
        
         <li class="nav__title">Конфлікт інтересів</li>
          <hr class="nav__line">
         <ul> 
                <a class="nav__item" href="#"> <li>Новини</li></a> 
                <a class="nav__item" href="#"><li>Антикорупційна стратегія</li></a>
                <a class="nav__item" href="#"><li>Законодавство</li></a>
                <a class="nav__item" href="#"><li>Міжнародна співпраця</li></a>
                <a class="nav__item" href="#"><li>Антикорупційне навчання</li></a>
                <a class="nav__item" href="#"><li>Антикорупційна експертиза</li></a>
        </ul>

        
         <li class="nav__title">Запобігання та виявлення корупції</li>
          <hr class="nav__line">
         <ul> 
                <a class="nav__item" href="#"> <li>Новини</li></a> 
                <a class="nav__item" href="#"><li>Антикорупційна стратегія</li></a>
                <a class="nav__item" href="#"><li>Законодавство</li></a>
                <a class="nav__item" href="#"><li>Міжнародна співпраця</li></a>
                <a class="nav__item" href="#"><li>Антикорупційне навчання</li></a>
                <a class="nav__item" href="#"><li>Антикорупційна експертиза</li></a>
        </ul>
</div>
        <div class="nav__section">
         <li class="nav__title">Декларування</li>
          <hr class="nav__line">
         <ul> 
          <a class="nav__item" href="#"> <li>Новини</li></a> 
                <a class="nav__item" href="#"><li>Антикорупційна стратегія</li></a>
                <a class="nav__item" href="#"><li>Законодавство</li></a>
                <a class="nav__item" href="#"><li>Міжнародна співпраця</li></a>
        </ul>
      
        
         <li class="nav__title">Протидія політичній корупціїа</li>
          <hr class="nav__line">
         <ul>
          <a class="nav__item" href="#"> <li>Новини</li></a> 
                <a class="nav__item" href="#"><li>Антикорупційна стратегія</li></a>
                <a class="nav__item" href="#"><li>Законодавство</li></a>
                <a class="nav__item" href="#"><li>Міжнародна співпраця</li></a>
        
        </ul>


         <li class="nav__title">Робота в НАЗКа</li>
          <hr class="nav__line">
         <ul> 
           <a class="nav__item" href="#"> <li>Новини</li></a> 
                <a class="nav__item" href="#"><li>Антикорупційна стратегія</li></a>
                <a class="nav__item" href="#"><li>Законодавство</li></a>
                <a class="nav__item" href="#"><li>Міжнародна співпраця</li></a>
        </ul>
        </div>

       <div class="services">

        <a id="messServices" class="nav__services mess" href="#">
                <div id="messageId" class="nav__serv services__mess" >
                Повідомити про корупцію
                </div>
         </a>

       <a class="nav__services registr" href="#">
                <div id="registrId" class="nav__serv services__registr" >
                Реєстри та сервіси
                </div>
       </a>
       <a class="nav__services teaching" href="#">
       <div id="teachId" class="nav__serv services__teaching">АНТИКОРУПЦІЙНЕ навчання</div></a>
       
       

       <div class="nav__info">
       <p class="nav__number">0 800 300-2-400</p>
       <p class="nav__copywrite">цілодобова гаряча лінія</p>
       <p class="nav__mail">office@nazk.gov.ua</p>
       </div>
       </div>

</nav>
</div>
</div>