<search class="search">
<div class="container">
<div class="search__container">
<img class="search__img" src="../img/logo1.png" alt="">
  <h1 class="search__head">
  Пошук документів
  </h1>
 <div class="search__content">
 <div class="search__itm"> <p class="search__info">Назва, номер або короткий опис документу</p>
<input type="text" class="search__inp" placeholder=""></div>
 <div class="search__item">
  <p class="search__info">Тип документу</p>
<input type="text" class="search__input" placeholder="Оберіть тип документу">
 </div>
 </div>

 <div class="search__nav">
 <button class="search__btn">Шукати</button>
 <span class="search__txt">або</span>
 <a class="search__link" href="#">Переглянути всі документи</a>
 </div>
</div>
</div>

</search>