<services class="services">
<div class="container">
<div class="services__container">
<h1 class="services__head">Сервіси та реєстри </h1>
<input type="text" id="myInput"  placeholder="Почніть вводити назву сервісу">
{# 
<ul id="myUL">
  <li><a class="services__link" href="#">Декларування</a></li>
  <li><a class="services__link" href="#">Реєстри</a></li>

  <li><a class="services__link" href="#">Реєстри</a></li>
  <li><a class="services__link" href="#">Декларування</a></li>
</ul> #}
<form>
  <div class="radio-btn">
  <input type="radio" checked class="radio"  name="colors" id="all">Всі
  </div>
  <div class="radio-btn">
  <input type="radio" class="radio" name="colors" id="declaration">Декларування
  </div>
   <div class="radio-btn">
   <input type="radio" class="radio" name="colors" id="registr">Реєстри
   </div>
   <div class="radio-btn">
   <input type="radio" class="radio" name="colors" id="another">Інше
   </div>
  
</form>


<div class="services__article">
<ul class="services__list">
  <li class="services__item w1-3">
    <a href="#" class="services__title">Подати декларацію</a>
    <p class="services__info" >Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів</p>
  </li>
 
  <li class="services__item w1-3">
    <a href="#" class="services__title">Технічна допомога в роботі з реєстром</a>
    <p class="services__info">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів</p>
  </li>
   <li class="services__item w1-3">
    <a href="#"  class="services__title">Роз’яснення щодо заповнення декларацій</a>
    <p class="services__info">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.</p>
  </li>
  <li class="services__item w1-3">
    <a href="#"  class="services__title">Чат-бот «Держслужбовець Тарас»</a>
    <p class="services__info">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів</p>
  </li>
</ul>


</div>
</div>
</div>
</services>