<stats class="stats" ref="stats">
     <div class="container">
         <div class="stats__container">
      <ul class="stats__list">
          <li class="stats__item">
            <span id="suspicionId" class="stats__num">1 386</span>
            <span class="stats__txt">Підозр вручено</span>
          </li>
          <li class="stats__item">
           <span id="thingId" class="stats__num">386</span>
            <span class="stats__txt">справ в судах</span>
          </li>
          <li class="stats__item">
           <span id="declarationId" class="stats__num">18 303</span>
            <span class="stats__txt">декларацій перевірено</span>
          </li>
          <li class="stats__item">
           <span id="verdictId" class="stats__num">98</span>
            <span class="stats__txt">Обвинувачувальних вироків</span>
          </li>
      </ul>
    </div> 
     </div>
</stats>